@model DisplayViewModel

@using WebApp1.Views.Settings
@{
    ViewData["Title"] = "Настройка Экрана";
    ViewData["ActivePage"] = SettingsNavPages.Display;
}

<div id="tab_print" class="tabcontent">
    <h1>@ViewData["Title"]</h1>
    
    <form asp-controller="Event" asp-action="EditDisplay" id="registerForm" method="post" enctype="multipart/form-data">
        <input asp-for="EventId" hidden/>
        <input asp-for="WaitingDisplayViewModel.Id" hidden/>
        <input asp-for="SuccessDisplayViewModel.Id" hidden/>
        <input asp-for="FailDisplayViewModel.Id" hidden/>
        <h1>Режим ожидания</h1>
        <div class="page_content">
            <div class="page_block">
                <table class="unset_width">
                    <tr>
                        <td colspan="2">
                            Текст приветствия
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input asp-for="WaitingDisplayViewModel.MainText" rows="1"></input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Описание
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input asp-for="WaitingDisplayViewModel.Description" rows="1"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузите логотип
                        </td>
                        <td>
                            <input asp-for="WaitingDisplayViewModel.Logo" type="file" name="file">
                            <span asp-validation-for="WaitingDisplayViewModel.Logo"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузите фон
                        </td>
                        <td>
                            <input asp-for="WaitingDisplayViewModel.Background" type="file" name="file">
                            <span asp-validation-for="WaitingDisplayViewModel.Background"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Выберите цвет фона
                        </td>
                        <td>
                            <input asp-for="WaitingDisplayViewModel.BackgroundColor" type="color">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <h1>Успешное сканирования</h1>
        <div class="page_content">
            <div class="page_block">
                <table class="unset_width">
                    <tr>
                        <td colspan="2">
                            Текст приветствия
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input asp-for="SuccessDisplayViewModel.MainText" rows="1"></input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Описание
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input asp-for="SuccessDisplayViewModel.Description" rows="1"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузите логотип
                        </td>
                        <td>
                            <input asp-for="SuccessDisplayViewModel.Logo" type="file" name="file">
                            <span asp-validation-for="SuccessDisplayViewModel.Logo"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузите фон
                        </td>
                        <td>
                            <input asp-for="SuccessDisplayViewModel.Background" type="file" name="file">
                            <span asp-validation-for="SuccessDisplayViewModel.Background"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Выберите цвет фона
                        </td>
                        <td>
                            <input asp-for="SuccessDisplayViewModel.BackgroundColor" type="color">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <h1>Ошибка сканирования</h1>
        <div class="page_content">
            <div class="page_block">
                <table class="unset_width">
                    <tr>
                        <td colspan="2">
                            Текст приветствия
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input asp-for="FailDisplayViewModel.MainText" rows="1"></input>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            Описание
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input asp-for="FailDisplayViewModel.Description" rows="1"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузите логотип
                        </td>
                        <td>
                            <input asp-for="FailDisplayViewModel.Logo" type="file" name="file">
                            <span asp-validation-for="FailDisplayViewModel.Logo"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Загрузите фон
                        </td>
                        <td>
                            <input asp-for="FailDisplayViewModel.Background" type="file" name="file">
                            <span asp-validation-for="FailDisplayViewModel.Background"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Выберите цвет фона
                        </td>
                        <td>
                            <input asp-for="FailDisplayViewModel.BackgroundColor" type="color">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="page_content">
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>

@section Scripts
{
    <script>
        function PassSelectedValue(selectObject) {
            window.location.href = "Settings?templateId=" + selectObject.value;
        }
    </script>
}