@model Scanners

@using WebApp1.Views.Event
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.Tickets;
}

<div class="tabcontent">
    <div class="content_block">
        @if (!Model.ScannersList.Any())
        {
            <p>К этому мероприятию пока не добавлены билетеры</p>
        }
        else
        {
            <div class="table-responsive custom-table mb-3">
                <table class="table table-dark table-hover align-middle">
                    <thead>
                    <th>
                        <div class="table-col-header">Логин</div>
                    </th>
                    </thead>
                    <tbody>
                    @foreach (var scanner in Model.ScannersList)
                    {
                        <tr onclick="location.href='@Url.Action("EditScanner", new { userId = scanner.Id, eventId = Model.EventId, eventName = Model.EventName })';">
                            <td class="table-row">
                                <div hidden>@scanner.Id</div>
                                <div class="table-col">@scanner.Username</div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>