@model EventDetails

@using WebApp1.Views.Event
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.Details;
}

<div class="tabcontent">
    <div class="content_block">
        Статистика
    </div>
</div>
