@model WebApp1.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Создание билетера для мероприятия";
}

<div class="col-md-4 mx-auto">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <h2 class="text-center">@Model.EventName</h2>
    <form asp-controller="Event" asp-action="AddScanner" method="post" class="d-flex flex-column gap-3 mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="EventId" hidden/>
        <select asp-for="SelectedTemplateId" class="form-control" asp-items="Model.TemplateIds">
        </select>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Почта</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Пароль</label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Token" class="control-label"></label>
            <input asp-for="Token" class="form-control"/>
            <span asp-validation-for="Token" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="IsAutomate" class="form-label">
                <input asp-for="IsAutomate" class="form-check-input"/>
                @Html.DisplayNameFor(m => m.IsAutomate)
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="w-100 btn btn-lg btn-warning">Сохранить</button>
        </div>
    </form>
    <div>
        <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.EventId">Назад</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}