POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

ASPNETCORE_ENVIRONMENT="Production"
CONNECTIONSTRINGS__DEFAULTCONNECTION="User ID=postgres;Password=postgres;Host=db;Port=5432;Database=mice_kazan;"
SMTP__ADDRESS="verify@micecheck.com"
SMTP__PASSWORD="012345678!"