@using WebApp1.Views.Manage
@model ChangePasswordViewModel
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="@TempData["StatusMessage"]"/>

<div class="tabcontent">
    <form asp-controller="Manage" asp-action="ChangePassword" method="post">
        <div class="content_block black">
            <div class="custom-text black">
                <label asp-for="OldPassword">Старый пароль</label>
                <input asp-for="OldPassword" autocomplete="current-password" aria-required="true"/>
            </div>
        </div>

        <div class="content_block black">
            <div class="custom-text black">
                <label asp-for="NewPassword">Новый пароль</label>
                <input asp-for="NewPassword" autocomplete="new-password" aria-required="true"/>
            </div>
        </div>

        <div class="content_block black">
            <div class="custom-text black">
                <label asp-for="ConfirmPassword">Подтвердите пароль</label>
                <input asp-for="ConfirmPassword" autocomplete="new-password" aria-required="true"/>
            </div>
        </div>

        <div class="content_bottom">
            <div class="custom-btm left-margin">
                <button type="submit">Обновить пароль</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}