@using WebApp1.Views.Manage
@{
    Layout = "_Layout";
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="@TempData["StatusMessage"]"/>
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @{
            var codes = (IList<string>)(TempData["RecoveryCodes"] ?? Array.Empty<string>());
            for (var row = 0; row < codes.Count; row += 2)
            {
                <code class="recovery-code">@codes[row]</code>
                <text>&nbsp;</text>
                <code class="recovery-code">@codes[row + 1]</code>
                <br/>
            }
        }
    </div>
</div>