@font-face {
    font-family: TildaSansBlack;
    src: url("/fonts/TildaSans-Black.ttf");
}

@font-face {
    font-family: TildaSansBold;
    src: url("/fonts/TildaSans-Bold.ttf");
}

@font-face {
    font-family: TildaSansLight;
    src: url("/fonts/TildaSans-Light.ttf");
}

:root {
    --main-color: #ffca2c;
    --secondary-color: #ffcf3e;
    --bs-link-hover-color: white;
}

.content_header {
    background-color: #ffffff;

    padding: 0 10px 0 10px;
}

.content_block {
    background-color: #ffffff;

    display: flex;
    flex-direction: row;

    padding: 0 10px 0 10px;
}

.content_block.black {
    background-color: rgb(17, 17, 17);
    color: #fff;
}

.content_block.black hr {
    width: 100%;
    color: #fff;
}

.content_row {
    width: 100%;
}

.content_block table {

}

.preview_block {
    height: 100%;
    display: flex;
    align-items: center;
}

.preview {
    border: 1px solid #000;
    margin: 0 auto;

    position: relative;

    font-family: TildaSansBlack;
}

.preview.vertical {
    width: 225px;
    height: 300px;

    font-size: 35px;
}

.preview.horizon {
    width: 300px;
    height: 225px;

    font-size: 30px;
}

.preview_logo {
    position: absolute;
    left: 0;
    right: 0;
    height: 70px;

}

.preview_logo img {
    display: block;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.preview_info.horizon {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: absolute;
    top: 30%;

    text-align: right;
    gap: 0 10px;
    margin-left: 5px;
    width: 100%;
}

.preview_info.vertical {
    top: 90px;
    display: block;
    grid-template-rows: 70px 1fr 1fr;

    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.preview_name {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.preview_surname {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.preview_info.vertical .preview_name {
    display: block;
    flex-direction: row;
}

.preview_info.vertical .preview_surname {
    display: block;
    flex-direction: row;
}

.preview_qr.horizon {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    align-self: flex-end;

}

.preview_qr.horizon img {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 15px;
    width: 60%;
}

.preview_qr .horizon img {
    width: 90%;
}

.preview_qr.vertical img {
    margin-top: 10px;
    width: 40%;
}

.display-preview-block {
    margin-top: 80px;
    display: block;
    position: absolute;
    text-align: center;
    height: 348px;
    width: 270px;
    border: 1px solid #000;
}

.display-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin-top: 100px;
    vertical-align: middle;
}

.display-preview .img {
    width: auto;
}

.display-preview .text {
    font-size: 15px;
}

.preview_qr img {
    width: 40%;
}
