<div class="d-flex flex-nowrap align-items-center">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <button class="btn btn-outline-primary me-2" onclick="location.href='@Url.Action("Index", "Manage")'">@User.Identity?.Name</button>
        <form asp-controller="Account" asp-action="Logout" method="post" class="">
            <button type="submit" class="exit-btn">
                <img src="/images/exit.png" alt="MiceKazan" width="20" height="20">
            </button>
        </form>
    }
    else
    {
        <button class="btn btn-outline-primary me-2" onclick="location.href='@Url.Action("Register", "Account")'">Регистрация</button>
        <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Login", "Account")'">Вход</button>
    }
</div>