:root {
	--main-color: #ffca2c;
}

.login_radio_block div {
    display: block;
    flex-direction: column;

    width: max-content;
    margin: auto;
}

.login_radio_block p {
    display: contents;
}

.login_radio_block input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid var(--main-color);
	border-radius: 50%;
	background-color: transparent;
	position: relative;
	top: 6px;
}

.login_radio_block input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: var(--main-color);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 0.8s;
}
