html {
	font-size: 14px;
	position: relative;
	height: 100%;
}

body {
	background-image: url(/images/base-background.jpg);
	object-fit: contain;
	color: var(--main-color);
	height: 100%;
}

:root {
	--main-color: #ffca2c;
	--bs-link-color: var(--main-color);
	--bs-link-hover-color: white;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

a {
	color: var(--main-color);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

/* bootstrap-custom */

/* Buttons */
.btn-primary {
	background-color: var(--main-color);
	border-color: var(--main-color);
	color: black;
}

.btn-primary:hover {
	background-color: #ffcf3e;
	border-color: #ffcf3e;
	color: black;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: var(--main-color);
    color: black;
}

.btn:focus-visible {
    background-color: var(--main-color);
    border-color: var(--main-color);
    outline: 0;
    color: black;
    box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
}

.btn-check:checked+.btn:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible, .btn:first-child:active:focus-visible, :not(.btn-check)+.btn:active:focus-visible {
    box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border-color: var(--main-color);
}


/* Forms */
.form-control {
	border-color: var(--main-color);
	background-color: black;
	color: var(--main-color);
}

.form-control:focus {
	border-color: #211c0b;
	background-color: black;
	box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
	color: #ffcf3e;
}

.form-check-input {
	background-color: black;
	border-color: var(--main-color);
}

.form-check-input:focus {
	border-color: #ffcf3e;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
}

.form-check-input:checked {
	background-color: black;
	border-color: #ffcf3e;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
	color: #ffcf3e;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
	background-color: rgba(0, 0, 0, 0);
}

.nav-pills {
	--bs-nav-pills-border-radius: var(--bs-border-radius);
	--bs-nav-pills-link-active-color: black;
	--bs-nav-pills-link-active-bg: var(--main-color);
	
}

/* Tables */
.table {
	margin-bottom: 0;
}

.custom-table {
	border: 2px solid var(--main-color);
	border-radius: 1em;
	margin-bottom: 20px;
}