/* ------------------------------base-------------------------------- */
html {
	font-size: 14px;
	position: relative;
}

body {
	background-image: url(/images/base-background.jpg);
	object-fit: contain;
	color: var(--main-color);
}

:root {
	--main-color: #ffca2c;
	--secondary-color: #ffcf3e;
	--bs-link-hover-color: white;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

a {
	color: var(--main-color);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* tables */
.custom-table {
	border: 2px solid var(--main-color);
	border-radius: 1em;
	margin-bottom: 20px;
}

.table-col-header {
	font-size: large;
	padding: 0px 10px;
	color: var(--main-color);
}

.table-row {
	height: 50px;
}

.table-col {
	padding: 0px 10px;
}

/* Buttons */

.exit-btn {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}


#videoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

/* ------------------------------video-------------------------------- */

#videoElement {
	max-width: 100%;
	border: 2px solid #ffca2c;
	border-radius: 10px;
	overflow: hidden;
}
/* ------------------------------bootstrap-custom-------------------------------- */

/* Buttons */

.btn-primary {
	--bs-btn-color: #000;
	--bs-btn-bg: var(--main-color);
	--bs-btn-border-color: var(--main-color);
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: var(--secondary-color);
	--bs-btn-hover-border-color: var(--secondary-color);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: var(--secondary-color);
	--bs-btn-active-border-color: var(--secondary-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #000;
	--bs-btn-disabled-bg: var(--main-color);
	--bs-btn-disabled-border-color: var(--main-color);
}

.btn-outline-primary {
	--bs-btn-color: var(--main-color);
	--bs-btn-border-color: var(--main-color);
	--bs-btn-hover-color: #000;
	--bs-btn-hover-bg: var(--main-color);
	--bs-btn-hover-border-color: var(--main-color);
	--bs-btn-focus-shadow-rgb: 13, 110, 253;
	--bs-btn-active-color: #000;
	--bs-btn-active-bg: var(--main-color);
	--bs-btn-active-border-color: var(--main-color);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: var(--main-color);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: var(--main-color);
	--bs-gradient: none;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
	background-color: var(--main-color);
	color: black;
}

.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
	box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
	border-color: var(--main-color);
}

/* Inputs */

.input-group-text {
	border: var(--bs-border-width) solid var(--main-color);
	border-radius: 0;
	border-top-right-radius: var(--bs-border-radius);
	border-bottom-right-radius: var(--bs-border-radius);
}

/* Forms */
.form-control {
	border-color: var(--main-color);
	background-color: black;
	color: var(--main-color);
}

.form-control:focus {
	border-color: #211c0b;
	background-color: black;
	box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
	color: var(--secondary-color);
}

.form-check-input {
	background-color: black;
	border-color: var(--main-color);
	color: #ffca2c;
}

.form-check-input:focus {
	border-color: var(--secondary-color);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(255, 233, 37, 0.25);
}

.form-check-input:checked {
	background-color: black;
	border-color: var(--secondary-color);
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
	color: var(--secondary-color);
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
	background-color: rgba(0, 0, 0, 0);
}

.nav-pills {
	--bs-nav-pills-border-radius: var(--bs-border-radius);
	--bs-nav-pills-link-active-color: black;
	--bs-nav-pills-link-active-bg: var(--main-color);
}

/* Nav */
.nav-link {
	color: var(--main-color);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--secondary-color);
}

/* Tables */
.table {
	margin-bottom: 0;
}

/* Alerts */
.alert {
	border-radius: 15px;
}

.alert-primary {
	--bs-alert-color: #000;
	--bs-alert-bg: #ffdd78;
	--bs-alert-border-color: var(--main-color);
	--bs-alert-link-color: var(--main-color);
}

.alert-warning {
	--bs-alert-color: #000;
	--bs-alert-bg: #ffdd78;
	--bs-alert-border-color: var(--main-color);
	--bs-alert-link-color: var(--main-color);
}

/* ------------------------------custom-scroll-------------------------------- */

body::-webkit-scrollbar {
	background-color: #000;
	width: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--main-color);
	border-radius: 5px;
}