html {
    font-size: 14px;
    position: relative;
    height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(/images/base-background.jpg);
    object-fit: contain;
    color: #ffca2c;
    height: 100%;
}

:root {
    --primary-color: #ff0000;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

