@using Microsoft.JSInterop
@model IndexViewModel
@inject IJSRuntime JSRuntime
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Отображение фронтальной камеры</h1>
</div>

<div id="videoContainer">
    <video id="videoElement" autoplay playsinline></video>
</div>

<div id="result"></div>

@section Scripts {
<script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
<script>
    function startCamera() {
        const videoElement = document.getElementById('videoElement');
        const resultElement = document.getElementById('result');
        navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } })
            .then(function (mediaStream) {
                videoElement.srcObject = mediaStream;

                const canvasElement = document.createElement('canvas');
                const canvasContext = canvasElement.getContext('2d');

                setInterval(function () {
                    canvasElement.width = videoElement.videoWidth;
                    canvasElement.height = videoElement.videoHeight;
                    canvasContext.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);

                    const imageData = canvasContext.getImageData(0, 0, canvasElement.width, canvasElement.height);
                    const code = jsQR(imageData.data, imageData.width, imageData.height);

                    if (code) {
                        resultElement.innerHTML = 'QR-код: ' + code.data;
                    } else {
                        if (videoElement.readyState === videoElement.HAVE_ENOUGH_DATA) {
                            Quagga.decodeSingle({
                                decoder: {
                                    readers: ['ean_reader', 'code_128_reader', 'upc_reader', 'code_39_reader', 'itf_reader']
                                },
                                locate: true,
                                src: canvasElement.toDataURL()
                            }, function (result) {
                                if (result && result.codeResult) {
                                    resultElement.innerHTML = 'Штрих-код: ' + result.codeResult.code;
                                }
                            });
                        }
                    }
                }, 1000 / 30);
            })
            .catch(function (error) {
                console.error('Ошибка при получении доступа к камере:', error);
            });
    }

    window.onload = function () {
        startCamera();
    };
</script>
}