@model ScreenViewModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .background-image {
        position: fixed; 
        top: 0; 
        left: 0; 
        min-width: 100%; 
        min-height: 100%;
        background-image: url('~/@Model.BackgroundPath');
        background-size: cover;
        background-position: center;
    }

    #content {
        position: relative;
        z-index: 2;
        text-align: center; /* Center the content */
    }

    #logo {
        max-height: 100px;
        max-width: 100px;
    }

    label {
        display: block; /* Make labels stack on top of each other */
        margin: 20px 0; /* Add some space around them */
    }
</style>

<div class="background-image"></div>

<div id="videoContainer" hidden>
    <video id="videoElement" autoplay playsinline></video>
</div>

<div id="result"></div>
<div id="content">
    <img alt="Logo" id="logo" src="~/@Model.LogoPath">
    <label asp-for="MainText">@Model.MainText</label>
    <label asp-for="Description">@Model.Description</label>
</div>




@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.min.js"></script>
    <script>
        function startCamera() {
            const videoElement = document.getElementById('videoElement');
            let prevCode = '';
            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } }).then(function (mediaStream) {
                videoElement.srcObject = mediaStream;

                const canvasElement = document.createElement('canvas');
                const canvasContext = canvasElement.getContext('2d');

                setInterval(async function () {
                    canvasElement.width = videoElement.videoWidth;
                    canvasElement.height = videoElement.videoHeight;
                    canvasContext.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);

                    const imageData = canvasContext.getImageData(0, 0, canvasElement.width, canvasElement.height);
                    const code = jsQR(imageData.data, imageData.width, imageData.height);
                    if (code === null) {
                        return;
                    }
                    if (code.data.toString().length === 12 && code.data !== prevCode) {
                        prevCode = code.data
                        fetch('@Url.Action("PrintTicket", "Ticket")?code=' + code.data, {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json'
                          },
                        })
                          .then(response => response.json())
                          .then(data => console.log(data))
                          .catch(error => console.error(error));
                    }
                }, 1000 / 30);
            })
                .catch(function (error) {
                    console.error('Ошибка при получении доступа к камере:', error);
                });
        }

        window.onload = function () {
            startCamera();
        };
    </script>
}