@using WebApp1.Views.Settings

<div class="tab">
    <a asp-controller="Settings" asp-action="Index" class="tablinks @SettingsNavPages.PrintNavClass(ViewContext)">Печать</a>
</div>

<div class="tab_line"></div>