@{
}

<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'tab_print')">Печать</button>
  <button class="tablinks" onclick="openCity(event, 'tab_display')">Экран</button>
</div>

