@model ConfirmPhoneViewModel
@{
    ViewData["Title"] = "Введите код подтверждения";
}

<div class="col-md-4 mx-auto">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr/>
    <div class="row">
        <div>
            <form asp-controller="Account" asp-action="ConfirmPhone" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="PhoneNumber" hidden/>
                <div class="form-floating mb-3">
                    <input asp-for="Code" class="form-control"/>
                    <label asp-for="Code" class="form-label"></label>
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Подтвердить телефон</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}