@{
    ViewData["Title"] = "Forgot password confirmation";
}

@* <h1>@ViewData["Title"]</h1> *@
<h1 class="text-center">Сброс пароля</h1>
<p class="text-center">Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль</p>