@{
}

<div class="tab">
  <button class="tablinks active" onclick="openCity(event, 'tab_print')">Печать</button>
  <button class="tablinks" onclick="openCity(event, 'tab_display')">Экран</button>
</div>

<div class="tab_line"></div>

<div id="tab_print" class="tabcontent active" style="display: block;">
    <h1>Настройка печати</h1>

    Шаблон
    <select>
        <option>Шаблон 1</option>
        <option>Шаблон 2</option>
    </select>

    <h3>Ориентация и данные</h3>

    <div class="page_content">
        <div class="page_block">
            <table>
                <tr>
                    <td>Цвет шрифта</td>
                    <td colspan="3">
                        <input type="color" id="card_color_input" value="#000000">
                    </td>
                <tr>
                <tr>
                    <td>Горизонтальная</td>
                    <td>
                        <label class="btm_container">
                            <input type="radio" checked="checked" name="orientation" id="orientation_vertical">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td class="cell-left">Вертикальная</td>
                    <td>
                        <label class="btm_container">
                            <input type="radio" name="orientation" id="orientation_horizon">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>
                        <label class="btm_container">
                            <input type="checkbox" checked="checked" id="card_firstname_input">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td class="cell-left">Фамилия</td>
                    <td>
                        <label class="btm_container">
                            <input type="checkbox" checked="checked" id="card_lastname_input">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>QR-код с данными</td>
                    <td colspan="3">
                        <label class="btm_container">
                            <input type="checkbox" checked="checked" id="card_qr_input">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                <tr>
                <tr>
                    <td>Загрузить логотип</td>
                    <td colspan="3">
                        <label class="input-file">
                            <input type="file" name="file" id="card_logo_input">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                <tr>
                <tr>
                    <td>Загрузить фон</td>
                    <td colspan="3">
                        <label class="input-file">
                            <input type="file" name="file" id="card_background_input">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                <tr>
            </table>
        </div>

        <div class="page_block">
            <div class="component">
                <div class="component_main_block vertical" id="print_card_component">
                    <div>
                        <div class="component_card_logo">
                            <img id="card_logo">
                        </div>
                        <div class="component_card_info">
                            <div class="block_right size_50" id="card_firstname">
                                Сергеей
                            </div>
                            <div class="block_right size_40" id="card_lastname">
                                Прокофьев
                            </div>
                            <div id="card_qr">
                                <img src="/images/qr_logo.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page_content">
        <button>Сохранить</button> <button>Сохранить как шаблон</button>
    </div>
</div>

<script>
    const print_card = document.getElementById('print_card_component');

    // Вертикальная ориентация
    document.getElementById('orientation_vertical').addEventListener("change", (event) => {
        if (event.target.checked) {
            print_card.classList.remove('horizon');
            print_card.classList.add('vertical');
        };
    });

    // Горизонтальная ориентация
    document.getElementById('orientation_horizon').addEventListener("change", (event) => {
        if (event.target.checked) {
            print_card.classList.remove('vertical');
            print_card.classList.add('horizon');
        };
    });

    // Отображение (Имя)
    document.getElementById('card_firstname_input').addEventListener("change", (event) => {
        if (event.target.checked) {
            print_card.querySelector("#card_firstname").style.opacity = 0;
        } else {
            print_card.querySelector("#card_firstname").style.opacity = 1;
        }
    });
    // Отображение (Фамилия)
    document.getElementById('card_lastname_input').addEventListener("change", (event) => {
        if (event.target.checked) {
            print_card.querySelector("#card_lastname").style.opacity = 0;
        } else {
            print_card.querySelector("#card_lastname").style.opacity = 1;
        }
    });
    // Отображение (QR)
    document.getElementById('card_qr_input').addEventListener("change", (event) => {
        if (event.target.checked) {
            print_card.querySelector("#card_qr").style.opacity = 0;
        } else {
            print_card.querySelector("#card_qr").style.opacity = 1;
        }
    });

    // Цвет текста
    document.getElementById('card_color_input').addEventListener("change", (event) => {
        print_card.style.color = event.target.value;
    });

    // Логотип
    document.getElementById('card_logo_input').addEventListener("change", (event) => {
        var file = URL.createObjectURL(event.target.files[0]);
        print_card.querySelector("#card_logo").src = file;

        console.log(event);
    });

    // Фон
    document.getElementById('card_background_input').addEventListener("change", (event) => {
        var file = URL.createObjectURL(event.target.files[0]);
        print_card.style.backgroundImage = `url(${file})`;

        console.log(event);
    });
</script>

<div id="tab_display" class="tabcontent">
    <h1>Режим ожидания</h1>
    <div class="page_content">
        <div class="page_block">
            <table class="unset_width">
                <tr>
                    <td colspan="2">
                        Текст приветствия
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="1"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Описание
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="1"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        Загрузите логотип
                    </td>
                    <td>
                        <label class="input-file">
                            <input type="file" name="file">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        Загрузите фон
                    </td>
                    <td>
                        <label class="input-file">
                            <input type="file" name="file">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        Выберите цвет фона
                    </td>
                    <td>
                        <input type="color">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h1>Успешное сканирования</h1>
    <div class="page_content">
        <div class="page_block">
            <table class="unset_width">
                <tr>
                    <td colspan="2">
                        Текст приветствия
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="1"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Описание
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="1"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        Загрузите логотип
                    </td>
                    <td>
                        <label class="input-file">
                            <input type="file" name="file">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        Загрузите фон
                    </td>
                    <td>
                        <label class="input-file">
                            <input type="file" name="file">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        Выберите цвет фона
                    </td>
                    <td>
                        <input type="color">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h1>Ошибка сканирования</h1>
    <div class="page_content">
        <div class="page_block">
            <table class="unset_width">
                <tr>
                    <td colspan="2">
                        Текст приветствия
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="1"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Описание
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea rows="1"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        Загрузите логотип
                    </td>
                    <td>
                        <label class="input-file">
                            <input type="file" name="file">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        Загрузите фон
                    </td>
                    <td>
                        <label class="input-file">
                            <input type="file" name="file">
                            <span class="input-file-btn">Загрузить файл</span>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        Выберите цвет фона
                    </td>
                    <td>
                        <input type="color">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="page_content">
        <button>Сохранить</button>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");

        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByClassName("tablinks");

        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
