@using WebApp1.Views.Manage
@model EmailViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Управление почтой";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" for="@TempData["StatusMessage"]"/>

<div class="tabcontent">
    <div class="content_block black">
        @if (Model.IsEmailConfirmed ?? false) {
            <div class="custom-text black">
                <label asp-for="Email">Текущая почта</label>
                <input asp-for="Email" disabled/>                        
                
            </div>
        } else {            
            <div class="custom-text black">
                <label asp-for="Email">Текущая почта</label>
                <input asp-for="Email" disabled/>
            </div>

            <form asp-controller="Manage" asp-action="SendVerificationEmail" method="post">
                <button type="submit">Отправить письмо с подтверждением</button>
            </form>         
        }
    </div>
                
    <form asp-controller="Manage" asp-action="ChangeEmail" method="post">
        
        <div class="content_block black">
            <div class="custom-text black">
                <label asp-for="NewEmail">Новая почта</label>
                <input asp-for="NewEmail" autocomplete="email" aria-required="true"/>
            </div>
        </div>


        <div class="content_bottom">
            <div class="custom-btm left-margin">
                <button type="submit">Изменить почту</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}