@using WebApp1.Views.Manage
@model IndexViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Profile;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <div class="form-floating mb-3">
            <h5>@Model.Username</h5>
        </div>
    </div>
</div>