@using WebApp1.Views.Manage
@model TokenViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Изменить токен";
    ViewData["ActivePage"] = ManageNavPages.ChangeToken;
}

<partial name="_StatusMessage" for="@TempData["StatusMessage"]"/>

@if (ViewData.TryGetValue("CurrentToken", out var token) && !string.IsNullOrEmpty((string?)token))
{
    var tokenString = (string)token;
    var secured = new string('*', 12);
    if (tokenString.Length < 4) secured += new string('*', 4 - tokenString.Length) + token;
    else secured += tokenString[^4..];
    <h3>Ваш текущий токен</h3>
    <h5>@secured</h5>
}
else
{
    <h3>Для того чтобы пользоваться сервисом введите свой авторизационный токен с Qtickets</h3>
    <h3>В настоящее время у вас нет токена</h3>
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Manage" asp-action="Token" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Token" class="form-control" autocomplete="token" aria-required="true"/>
                <label asp-for="Token" class="form-label">Новый токен</label>
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Обновить токен</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}